---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/hero.astro";
import FeaturedProjects from "../components/FeaturedProjects.astro";
import AccessibilityApproach from "../components/AccessibilityApproach.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout
  title="Olamide Fasida: Web Dev & Digital Accessibility Specialist"
  description="Portfolio of Olamide Fasida, Web Developer and Digital Accessibility Specialist."
  showPageNav={false}>
  <main id="main">
    <Hero />
    <FeaturedProjects />
    <AccessibilityApproach />
    <Skills />
    <Contact />
  </main>

</BaseLayout>